body {
    font-family: 'Lobster', cursive;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orangered;
}

.flexible-container {
    display: flex;
    margin bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(white, cyan);
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/bg-4.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/blue-smoke.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/blue-smoke.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;

}

#web-dev-experience {
    border-left: 7px solid;
    border-image: linear-gradient(white, cyan);
    border-image-slice: 1%;
}

footer p {
    text-align: center;
}